<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Status</title>
    <link rel="stylesheet" href="Style/StyleF.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <a href="../index.html"><img src="Style/content.png" alt="Logo"></a>
            </div>
            <div class="title">
                <h1>AnalytiC</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="Signup&Login/SignUpp.html">Sign Up</a></li>
                <li><a href="Signup&Login/LogIn.html">Log In</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section>
            <h2>Current Status</h2>
            <p>The system is <span class="status">operational</span>.</p>
        </section>

        <section>
            <h2>Maintenance Schedule</h2>
            <ul>
                <li><span class="maintenance">Maintenance:</span> January 5th, 2024</li>
                <li><span class="maintenance">Maintenance:</span> February 12th, 2024</li>
            </ul>
        </section>
    </div>
    <footer>
        <div class="left">
            <a href="../Footer/system-status.html">System Status</a> |
            <a href="../Footer/Blog.html">Blog</a> |
            <a href="../Footer/Developer.html">Developer</a> |
            <a href="../Footer/careers.html">Careers</a> |
            <a href="../Footer/Contact_us.html">Contact Us</a> |
            <a href="../Footer/Help.html">Help</a>
        </div>
        <div class="right">
            <div>
                <a href="https://github.com/tuusuario" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/tupagina" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <p>© 2024 ANALITYC SOFTWARE, LLC, A</p>
        </div>
    </footer>
</body>
</html>
