<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Style/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <a href="../index.html"><img src="Style/content.png" alt="Logo"></a>
            </div>
            <div class="title">
                <h1>AnalytiC</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="SignUpp.html">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Sección de información -->
        <div class="info"></div>
        
        <!-- Formulario de inicio de sesión -->
        <form class="form">
            <!-- Encabezado del formulario -->
            <h2>Log in</h2>

            <!-- Campos del formulario -->
            <div class="inputs">
                <!-- Campo de correo electrónico -->
                <input type="email" class="box" placeholder="Email">
                
                <!-- Campo de contraseña -->
                <input type="password" class="box" placeholder="Password">
                
                <!-- Casilla de verificación "Recuérdame" -->
                <label for="remember-me">
                    <input type="checkbox" id="remember-me"> remember-me
                </label>
                
                <!-- Botón de envío del formulario -->
                <input type="submit" value="Login" class="submit">
            </div>

            <!-- Enlaces adicionales -->
            <div class="links">
                <!-- Enlace "Olvidaste la contraseña" -->
                <a href="#">FORGOT PASSWORD</a>
                <!-- Separador -->
                <span>|</span>
                <!-- Enlace "Crear una cuenta" -->
                <a href="SignUpp.html">CREATE AN ACCOUNT</a>
            </div>
        </form>
    </div>
    <footer>
        <div class="left">
            <a href="../Footer/system-status.html">System Status</a> |
            <a href="../Footer/Blog.html">Blog</a> |
            <a href="../Footer/Developer.html">Developer</a> |
            <a href="../Footer/careers.html">Careers</a> |
            <a href="../Footer/Contact_us.html">Contact Us</a> |
            <a href="../Footer/Help.html">Help</a>
        </div>
        <div class="right">
            <div>
                <a href="https://github.com/tuusuario" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/tupagina" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <p>© 2024 ANALITYC SOFTWARE, LLC, A</p>
        </div>
    </footer>
</body>

</html>

