<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="Style/Style.css">
</head>
<body>
    <div class="new-container">
        <!-- Formulario de creación de cuenta -->
        <form class="new-form">
            <!-- Título del formulario -->
            <h2 class="new-form-title">Cree una cuenta en Analytic</h2>
            <!-- Contenedor de los campos de entrada -->
            <div class="new-inputs">
                <!-- Campo de nombre -->
                <input type="text" class="new-box" placeholder="First Name">
                <!-- Campo de apellido -->
                <input type="text" class="new-box" placeholder="Last Name">
                <!-- Campo de correo electrónico -->
                <input type="email" class="new-box" placeholder="Email">
                <!-- Campo de contraseña -->
                <input type="password" class="new-box" placeholder="Password">
                <!-- Campo de confirmación de contraseña -->
                <input type="password" class="new-box" placeholder="Confirm Password">
                <!-- Texto adicional sobre las contraseñas -->
                <p class="password-info">Las contraseñas distinguen entre mayúsculas y minúsculas, y deben tener entre 8 y 100 caracteres. Además, deben incluir al menos un número (0-9), una letra mayúscula, una letra minúscula y uno de los siguientes caracteres: ! " \ # $ % & ' ( ) * + , - . / : ; < = > ? @ [ ] ^ _ ` { | } ~</p>
                <!-- Botón de envío -->
                <input type="submit" value="Create Account" class="new-submit">
            </div>
            <!-- Enlace para iniciar sesión -->
            <div class="new-links">
                <a href="Signup.html">Already have an account? Log in</a>
            </div>
        </form>
    </div>
</body>
</html>
