<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Style/Style.css">
</head>
<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Sección de información -->
        <div class="info"></div>
        
        <!-- Formulario de inicio de sesión -->
        <form class="form">
            <!-- Encabezado del formulario -->
            <h2>Log in</h2>

            <!-- Campos del formulario -->
            <div class="inputs">
                <!-- Campo de correo electrónico -->
                <input type="email" class="box" placeholder="Email">
                
                <!-- Campo de contraseña -->
                <input type="password" class="box" placeholder="Password">
                
                <!-- Casilla de verificación "Recuérdame" -->
                <label for="remember-me">
                    <input type="checkbox" id="remember-me"> remember-me
                </label>
                
                <!-- Botón de envío del formulario -->
                <input type="submit" value="Login" class="submit">
            </div>

            <!-- Enlaces adicionales -->
            <div class="links">
                <!-- Enlace "Olvidaste la contraseña" -->
                <a href="#">FORGOT PASSWORD</a>
                <!-- Separador -->
                <span>|</span>
                <!-- Enlace "Crear una cuenta" -->
                <a href="CrearCuenta.html">CREATE AN ACCOUNT</a>
            </div>
        </form>
    </div>
</body>
</html>
