<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario</title>
    <link rel="stylesheet" href="../Assets/css/StyleMain.css">
</head>
<body>
    <header>
        <div class="logo-title">
          <div class="logo">
            <a href="../index.html"><img src="../Assets/images/content.png" alt="Logo"
            /></a>
          </div>
          <div class="title">
            <h1>AnalytiC</h1>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="#">Cerrar Sesión</a></li>
          </ul>
        </nav>
      </header>

    <div class="main-container">
        <aside class="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Configuraciones</a></li>
                <li><a href="#">Mensajes</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </aside>
        <section class="content">
            <h2>Bienvenido, Usuario</h2>
            <p>Este es tu panel de usuario.</p>
            <!-- Contenido adicional aquí -->
        </section>
    </div>
    <footer>
      <div class="left">
          <a href="../Footer/system-status.html">System Status</a> |
          <a href="../Footer/Blog.html">Blog</a> |
          <a href="../Footer/Developer.html">Developer</a> |
          <a href="../Footer/Contact_us.html">Contact Us</a> |
          <a href="../Footer/Help.html">Help</a>
      </div>
      <div class="right">
          <div>
              <a href="https://github.com/tuusuario" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.facebook.com/tupagina" target="_blank"><i class="fab fa-facebook"></i></a>
          </div>
          <p>© 2024 ANALITYC SOFTWARE, LLC, A</p>
      </div>
  </footer>
    

    <script src="script.js"></script>
</body>
</html>
