/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Spoof', sans-serif; /* Usamos la fuente Spoof como la fuente principal */
}

/* Fuentes */
@font-face {
    font-family: 'Spoof'; /* Nombre que usarás para referirte a la fuente */
    src: url('../Font/Spoof-Thin.woff2') format('woff2'), /* Ruta al archivo de la fuente */
         url('../Font/Spoof-Thin.woff') format('woff'); /* También puedes proporcionar diferentes formatos de fuente */
}

/* Header */
header {
    background-color: #fff;
    color: #475C80;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header .logo-title {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
}

header .title h1 {
    margin-left: 15px;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #475C80;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #475C80;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 80px; /* Ajustar según la altura del header */
    bottom: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Main Container */
.main-container {
    display: flex;
    margin-top: 80px; /* Ajustar según la altura del header */
}

.content {
    margin-left: 220px; /* Ajustar según el ancho de la sidebar */
    padding: 20px;
    width: 100%;
}

/* Footer */
footer {
    background-color: #1B1B1B;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .left,
footer .right {
    display: flex;
    align-items: center;
}

footer .left a,
footer .right a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer .right a {
    font-size: 24px;
    margin-bottom: 5px;
}

footer .left a:hover,
footer .right a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}
