<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="Assets/css/Style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo-title">
        <div class="logo">
          <a href="#"
            ><img src="Signup&Login/Style/content.png" alt="Logo"
          /></a>
        </div>
        <div class="title">
          <h1>AnalytiC</h1>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="Signup&Login/SignUpp.html">Sign Up</a></li>
          <li><a href="Signup&Login/LogIn.html">Log In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!--INICIO-->
      <!--Portada de inicio-->
      <div class="container__cover div__offset">
        <div class="cover">
          <section class="text__cover">
            <h1>Trabaje inteligentemente con infinitas posibilidades</h1>
            <p>
              Nuestra plataforma de análisis visual está transformando la manera
              en que la gente utiliza los datos para resolver problemas.
              Descubre por qué deberias usar Analityc para basarse más en los
              datos.
            </p>
            <a href="Signup&Login/LogIn.html" class="btn__text-cover btn__text">Empezar</a>
          </section>
          <section class="image__cover">
            <img src="assets/images/Cover/hero-img.png" alt="" />
          </section>
        </div>
      </div>

      <!--Generador de confianza-->

      <div class="container__trust container__card-primary">
        <div class="trust card__primary">
          <div class="text__trust text__card-primary">
            <p>GENERA CONFIANZA PRIMERO</p>
            <h1>Controla tus datos con un solo toque</h1>
          </div>
          <div class="container__trust container__box-cardPrimary">
            <div class="card__trust box__card-primary">
              <img src="assets/images/Trust area/anchor.png" alt="" />
              <h2>Control Sobre tus datos</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
            </div>
            <div class="card__trust box__card-primary">
              <img src="assets/images/Trust area/archive.png" alt="" />
              <h2>Informes y análisis críticos</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
            </div>
            <div class="card__trust box__card-primary">
              <img src="assets/images/Trust area/user.png" alt="" />
              <h2>Satisfacción del usuario garantizada</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--Sobre nosotros - Nuestro equipo-->

      <div class="container__about div__offset">
        <div class="about">
          <div class="text__about">
            <h1>El equipo creativo más innovador</h1>
            <p>
              Este grupo realiza actividades centradas en eliminar las barreras,
              de manera que todos los miembros de nuestra comunidad puedan tener
              éxito en su trayectoria con Tableau.
            </p>
            <a href="Footer/Developer.html" class="btn__text-about btn__text">Saber Más</a>
          </div>

          <div class="image__about">
            <img src="assets/images/About/about-1.png" alt="" />
            <img src="assets/images/About/about-2.png" alt="" />
          </div>
        </div>
      </div>

      <!--SERVICIOS-->

      <div class="container__service container__card-primary div__offset">
        <div class="service card__primary">
          <div class="text__service text__card-primary">
            <p>QUE HACEMOS</p>
            <h1>Servicio para resolver todo tipo</h1>
          </div>

          <div class="container__card-service container__box-cardPrimary">
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/grid.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/cart.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/camera.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/headphone.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/location.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="card__service box__card-primary">
              <img src="assets/images/Services/file.png" alt="" />
              <h2>Controla tus datos con nuestro analisis visual</h2>
              <p>
                Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                trud exercitation
              </p>
              <a href="#">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="left">
        <a href="Footer/system-status.html">System Status</a> |
        <a href="Footer/Blog.html">Blog</a> |
        <a href="Footer/Developer.html">Developer</a> |
        <a href="Footer/Contact_us.html">Contact Us</a> |
        <a href="Footer/Help.html">Help</a>
      </div>
      <div class="right">
        <div>
          <a href="https://github.com/tuusuario" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.facebook.com/tupagina" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
        </div>
        <p>© 2024 ANALITYC SOFTWARE, LLC, A</p>
      </div>
    </footer>
  </body>
</html>
